.nav__container{
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
}
.nav{
    margin-top: 50px;
    margin-left: 60px;
}
.hide{
    display: none;
}
@media only screen and (max-width: 560px){
    /* .nav{
        overflow-x: hidden;
    } */
    .nav__container{
        width: 100%;
    }
    .hide{
        display: block;
    }
    .hamburger_with_logo{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .menu{
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.5em;
    }
    .menu > img{
        width: 25px;
        height: auto;
    }
    .menu__list > ul{
        display: flex;
        list-style-type: none;
       margin-left: -40px;
    }
    .menu__list ul li{
        margin-left: 30px;
        font-size: 14px;
        font-weight: 600px;
        text-transform: lowercase;
    }
    .logo{
        margin-left: 30px;
    }
    
}

